[submodule "Microsoft.NET/VF#"]
	path = "Microsoft.NET/VF#"
	url = https://github.com/jdm7dv/visualfsharp.git
[submodule "Microsoft.NET/VC#"]
	path = "Microsoft.NET/VC#"
	url = https://github.com/jdm7dv/roslyn.git
[submodule "standard"]
	path = standard
	url = https://github.com/jdm7dv/standard.git
[submodule "SHFB"]
	path = SHFB
	url = https://github.com/jdm7dv/SHFB.git
[submodule "msbuild"]
	path = msbuild
	url = https://github.com/jdm7dv/msbuild.git
[submodule "Common7/IDE/entity_framework"]
	path = Common7/IDE/entity_framework
	url = https://github.com/jdm7dv/EntityFramework.git
