[submodule "VF#"]
	path = "VF#"
	url = https://github.com/jdm7dv/visualfsharp.git
[submodule "VC#"]
	path = "VC#"
	url = https://github.com/jdm7dv/roslyn.git
[submodule "msbuild"]
	path = msbuild
	url = https://github.com/jdm7dv/msbuild.git
